version: '1.0'

services:
  mysql:
    container_name: linkly-db-mysql
    image: mysql:8
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
      MYSQL_DATABASE: linkly_db
    volumes:
      - mysql_data:/var/lib/mysql


volumes:
  mysql_data:

