@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito+Sans:wght@400;600;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 13% 15%;
    --card: 0 0% 100%;
    --card-foreground: 220 13% 15%;
    --primary: 335 77% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 335 77% 42%;
    --secondary-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --ring: 27 95% 56%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

@layer utilities {
  .text-gradient-1 {
    background: linear-gradient(135deg, hsl(335, 77%, 52%), hsl(27, 95%, 56%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-2 {
    background: linear-gradient(135deg, hsl(256, 70%, 60%), hsl(335, 77%, 52%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


